<% include ./partials/header %>

<center>
<div id="mobileTitle">
	<p><em><%= error %></em></p>
	<p><em>Follow the instructions below to add shows</em></p>
	<h1>Getting Started</h1>
</div>

<br>

<p>1. Sign up with a username and password</p>
<p>2. Search for a TV Show (Ex. Game of Thrones) using the search box</p>
<p>3. Click 'Add Show' to add to your list of shows</p>
<p>4. Go to 'What's Next?' to see when the next episode airs</p>
<p>5. Go to 'Recent' to see the most recently aired episodes of all your shows</p>
<p>6. If you want to delete a show go to 'Shows' and click 'Remove'</p>

</center>

<% include ./partials/footer %>