<% include ./partials/header %>

<div class="ui middle aligned center aligned grid">
  <div id="log" class="column">
    <h2 class="ui image header">
      <div class="content">
        Log-in
      </div>
    </h2>
    <form class="ui large form" action="/login" method="post">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="Username" required>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" required>
          </div>
        </div>
        <div>
        	<input class="ui fluid large black submit button" type="submit" value="Login">
        </div>
      </div>
    </form>
    <div class="ui message">
      No account? <a href="/register">Sign Up</a>
    </div>
  </div>
</div>

<% include ./partials/footer %>